#mypage{
    background-color: rgb(232, 152, 152);
}

body .bigwrapper{
    background-color: rgb(218, 230, 235);
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}

table td,
table th {  
  padding-left: 10px; 
  padding-right: 10px; 
  border: 1px solid black;
}